# Effectuation AI Backend
VITE_EFFECTUATION_API_URL=http://localhost:8001
VITE_EFFECTUATION_API_TOKEN=sb_publishable_uj9tbjlymH7uD3ebDcfoMQ_sDr2jdxq

# Supabase Project
VITE_SUPABASE_URL=https://sptahvlzkrktypbcsrwt.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNwdGFodmx6a3JrdHlwYmNzcnd0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg5ODIzNDIsImV4cCI6MjA3NDU1ODM0Mn0.sIiRjmm1zWFLsqCM0p1lvHSZtwEIt0NhiBqij8u699Y
